.Politicas {
  max-width: 1200px; /* Establece el ancho máximo deseado */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un espacio alrededor del contenido */
}


  
   